<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<meta charset="UTF-8">
<title>Inscription</title>

<meta charset="UTF-8">

<title>Inscription</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
	
	<link rel="shortcut icon" href="/images/logocloc.ico" type="image/vnd.microsoft.icon" />

<link
	href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css">
<script
	src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script
	src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<link href="/css/styleAccueil.css" rel="stylesheet" type="text/css" />


<style>
</style>
</head>

<body th:fragment="header">
<nav class="navbar navbar-expand-md navbar-light bg-light"  aria-label="Third navbar example">
    <div class="container-fluid">
    <a href="/">
      <img src="/images/logocoloc.jpg" href="/" alt="Aller à l'acceuil">
     </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample03">
        <ul class="navbar-nav me-auto mb-2 mb-sm-0">
        
          
          <!-- Dans l'idéal, ne doit pas apparaître si connecté en tant que locataire -->
          <li class="nav-item">
          <!-- le lien renverra vers la page "liste" -->
            <a class="nav-link" href="rechercheLocation">Chercher une colocation</a>
          </li>
          
           
         
          <li class="nav-item dropdown" th:if="${userInfo != null}">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          Compte
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="Messagerie">Messagerie</a>
          
          <!-- Le lien renverra vers la page "Edition profil" -->

           <a class="dropdown-item" href="getprofile">Editer le profil</a>


        </div>
        </li>
        
        <div th:if="${userInfoAuthorities == 'Proprietaire'}">         
         <li class="nav-item dropdown" th:if="${userInfo != null}">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
         Biens immobiliers
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="ajoutbien">Ajouter un bien</a>
          
          
          
          <!-- Dans l'idéal, le bouton affichera connexion si pas de session et déconnexion si inversement -->
 <a class="dropdown-item" href="getgestion">Gérer ses biens immobiliers</a>
        </div>
        </li>
        </div>
        
                  <!-- Dans l'idéal, ne doit pas apparaître si connecté en tant que locataire -->
          <li class="nav-item">
          <!-- le lien renverra vers la page "liste" -->
            <a class="nav-link" href="getMap">Afficher la carte</a>
          </li>
          
           <li class="nav-item">
          <!-- le lien renverra vers la page "liste" -->
            <a class="nav-link" href="reservations" th:if="${userInfoAuthorities == 'Colocataire'}">Mes réservations</a>
          </li>
        
               <li class="nav-item">
          <!-- le lien renverra vers la page "liste" -->
            <a class="nav-link" href="contact">Contact</a>
          </li>
        
        <li class="nav-item">            <a class="nav-link" href="connexion" th:if="${userInfo == null}" >Connexion</a>
            <a class="nav-link" href="deconnexion" th:if="${userInfo != null}" >Déconnexion</a>
            </li>
            
         
          
      
        <!-- Dans l'idéal, ne doit pas apparaître si session en cours. -->
          <li class="nav-item">
            <a class="nav-link" href="inscription" th:if="${userInfo == null}" >Inscription</a>
          </li>

      
        </ul>
     
      </div>
    </div>
  </nav>
  </html>
  </body>