 .h1{
 margin-left : 500px;
-webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
     background-color: #f2f5f3;
 
  max-width: 110px;
 }
 
  body {
	background : linear-gradient(#f5937f,#f5937f);
}
 
 .footer{
	background-color : #f06347;
	position : absolute;
	bottom : 0;
	width : 100%;
}

#wrap{
 background-color: #f2f5f3;
background-repeat: no-repeat;
background-attachment: fixed;

margin-top : 80px;
margin-bottom : 30px;
padding-bottom : 15px;
padding-top : 5px;

border-radius : 5px;
box-shadow: 10px 5px 5px red;

}

	.champ{
   background-color: #f2f5f3;
	
	   -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px
	 
	}
	
	.form{
	text-align : center;
	margin-top : 25px;}