body {
	background : linear-gradient(#f5937f,#f5937f);
}

#wrap{
 background-color: #f2f5f3;
background-repeat: no-repeat;
background-attachment: fixed;

margin-top : 80px;
margin-left : 200px;
margin-bottom : 30px;
padding-bottom : 15px;

}

.signup-btn {
  background: #f06347;

  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  text-shadow: 0px 1px 0px #898a88;
  -webkit-box-shadow: 0px 0px 0px #a4e388;
  -moz-box-shadow: 0px 0px 0px #a4e388;
  box-shadow: 0px 0px 0px #a4e388;
  font-family: Arial;
  color: black;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: solid #3b6e22  1px;
  text-decoration: none;
}



.form .form-control { margin-bottom: 10px; }
@media (min-width:768px) {
	#home{
		
		opacity: 0.33;
	}
	#home .slogan{
		color: #0e385f;
		line-height: 29px;
		font-weight:bold;
	}
	

}
	.footer {
	background-color : #f06347;
	position : relative;
	width : 100%;

	}
	
	.champ{
   background-color: #f2f5f3;
	
	   -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px
	 
	}