.form{
background-color:rgba(0, 0, 0, 0.5);
float :left;

}

.form2{
background-color: #f2f0f0;
margin : 10px;
border-radius : 5px;
box-shadow: 10px 5px 5px red;

}

footer{
	background-color : #f06347;
	position : absolute;
	bottom : 0; left : 0; right : 0;
	width : 100%;
	text-align: center;
}

.recherche {
	border-radius : 5px;
box-shadow: -10px 5px 5px red;
}

.recherche2 {
	border-radius : 5px;
box-shadow: 10px 5px 5px red;
}