
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <link href="/css/styleAccueil.css"  rel="stylesheet" type="text/css"/>
  <link href="/css/resources/styleConnexion.css"  rel="stylesheet" type="text/css"/>
<meta charset="UTF-8">
<title>Connexion</title>

<style>
body{
	background : linear-gradient(#f5937f,#f5937f);

}
</style>
</head>
<body>

 <header th:insert="fragment/header.html :: header"> </header>


<div class="wrapper">

  <div id="formContent">
    <!-- Tabs Titles -->
<h1 style="margin-left : 100px">Connexion</h1>
    <!-- Icon -->
    <div>
      <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <form th:action="@{/j_spring_security_check}" method="post">
      <input type="text" id="login"  name="username" placeholder="login">
      <input type="password" id="password"  name="password" placeholder="password">
      <input type="submit" value="Log In">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a href="#">Mot de passe oublié ?</a>
    </div>

  </div>
  </div>
  
   <footer class="footerAcc">
<p class="text-center">Site dévellopé par Mélissa Maerten, Rémy Deprez et Nicolas Beauvois, sur une idée originale de Yahya Abdellaoui</p>

</footer>
</body>
</html>