
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <link href="/css/styleAccueil.css"  rel="stylesheet" type="text/css"/>
  <link href="/css/styleConnexion.css"  rel="stylesheet" type="text/css"/>
<meta charset="UTF-8">
<title>Connexion</title>

<style>
body{
	background : linear-gradient(#f5937f,#f5937f);

}
</style>
</head>
<body>

 <header th:insert="fragment/header.html :: header"> </header>

<h1 class="champ">Connexion</h1>
<div class="wrapper">


  <div id="formContent">
    <!-- Tabs Titles -->
    
    <div class="container" style="background-color:#f2f5f3;">

    <!-- Icon -->
    <div>
      <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <form th:action="@{/j_spring_security_check}" method="post">
    <div class="form-group">
      <input type="text" id="login"  name="username" class="form-control"  placeholder="login">
      </div>
      <div class="form-group champPassword">
      <input type="password" id="password" name="password" class="form-control" placeholder="password">
      </div>
      <input  type="submit" value="Log In">
    </form>
    <div th:if="${#request.getParameter('error') == 'true'}">Identifiants incorrects.</div>
    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a href="#">Mot de passe oublié ?</a>
    </div>

</div>
  </div>
  </div>
  
   <footer class="footer">
<p class="text-center">Site dévellopé par Mélissa Maerten, Rémy Deprez et Nicolas Beauvois, sur une idée originale de Yahya Abdellaoui</p>

</footer>
</body>
</html>