
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="shortcut icon" href="" type="image/vnd.microsoft.icon" />
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  <link href="/css/styleAccueil.css"  rel="stylesheet" type="text/css"/>
  <link href="/css/styleConnexion.css"  rel="stylesheet" type="text/css"/>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Connexion</title>

<style>
body{
	background : linear-gradient(#f5937f,#f5937f);

}
</style>
</head>
<body>
<main>
 <header th:insert="fragment/header.html :: header"> </header>

<div class="wrapper">


  <div id="formContent">
  <h1 class="h1">Connexion</h1>
    <!-- Tabs Titles -->
    
    <div class="container text-center" style="background-color:#f2f5f3;">


    <!-- Login Form -->
    <form th:action="@{/j_spring_security_check}" method="post">
    <div class="form-group champPassword">
      
      </div>
      <div class="form-group champPassword">
      <input type="text" id="login"  name="username" class="form-control"  placeholder="login">
      <input type="password" id="password" name="password" class="form-control" placeholder="password">
      </div>
      <input  type="submit" value="Log In">
    </form>
    <div th:if="${#request.getParameter('error') == 'true'}">Identifiants incorrects.</div>
    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a href="#">Mot de passe oublié ?</a>
    </div>

</div>
  </div>
  </div>
  
   <footer class="footer sticky-footer">
<p class="text-center">Site dévellopé par Mélissa Maerten, Rémy Deprez et Nicolas Beauvois, sur une idée originale de Yahya Abdellaoui</p>

</footer>
</main>
</body>
</html>