<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>


<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>Inscription</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="shortcut icon" href="" type="image/vnd.microsoft.icon" />
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


<link href="/css/styleAccueil.css" rel="stylesheet" type="text/css" />
<link href="/css/styleInscription.css" rel="stylesheet" type="text/css" />

<style>
</style>
</head>

<body>

	     <header th:insert="fragment/header.html :: header"> </header>



	<div class="container" id="wrap">
		<div class="row">
			<div style="margin-left: 25%" class="col-md-6 col-md-offset-3">
				<form th:action="createaccount" method="post" th:object="${appuser}"
					 class="form" role="form" >
					<h4 class="champ">Erreur ! Veuillez entrer à nouveau le code reçu par mail</h4>
					<div class="row">
					
						<div class="col-xs-6 col-md-6" >
							<input type="number" name="usercode" 
								th:name="usercode" class="form-control"
								placeholder="Code" />
						</div>
						<button class="btn btn-lg btn-primary btn-block signup-btn"
						type="submit">Activer le compte</button>
					</div>
					<input type="text" name="firstname"
						value="${appuser.attributeprenom}" th:field="*{attributeprenom}"
						class="form-control input-lg" placeholder="Prénom" hidden="true" />


					<input type="text" name="lastname" value="${appuser.nom}"
						th:field="*{nom}" class="form-control input-lg"
						placeholder="Nom de famille" hidden="true" /> <input type="text"
						name="userId" value="${appuser.userId}"
						class="form-control input-lg" th:field="*{userId}" hidden="true" />
					<input type="text" name="login" value="${appuser.userName}"
						class="form-control input-lg" th:field="*{userName}" hidden="true" />
					<input type="text" name="mail" value="${appuser.mail}"
						class="form-control input-lg" placeholder="Votre Email"
						th:field="*{mail}" hidden="true" /> <input type="password"
						name="password" class="form-control input-lg"
						placeholder="Nouveau Mot de passe" th:field="*{encrytedPassword}"
						hidden="true" /> <input type="password" name="confirm_password"
						class="form-control input-lg"
						placeholder="Confirmer le Nouveau mot de passe" hidden="true" />
					<input type="date" class="form-control input-lg" th:field="*{date}"
						hidden="true" /> <input type="text" class="form-control input-lg"
						th:field="*{telephone}" value="${appuser.telephone}"
						placeholder="Numéro de Te" hidden="true"> <input
						type="radio" th:field="*{status}" th:value="${status}"
						class="control-input" hidden="true">
                   <input type="text" class="form-control input-lg" th:field="*{photos}" th:value="${photos}"
						 hidden = "true"/>
						 
						 <input type="number" name="code" th:value="${appuser.code}"
						class="form-control input-lg" hidden="true"
						placeholder=""  />
				</form>
			</div>
		</div>
	</div>
	<footer class="footer" style="position: fixed; bottom: 0">
		<p class="text-center">Site dévellopé par Mélissa Maerten, Rémy
			Deprez et Nicolas Beauvois, sur une idée originale de Yahya
			Abdellaoui</p>

	</footer>
</body>
</html>