
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="shortcut icon" href="" type="image/vnd.microsoft.icon" />
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

   <link href="/css/styleAccueil.css"  rel="stylesheet" type="text/css"/>
    <link href="/css/styleAjout.css"  rel="stylesheet" type="text/css"/>



<title>Modifier un  bien</title>
</head>
<body>
   
<header th:insert="fragment/header.html :: header"> </header>




<body style="text-align : center">


 <div class="container" id="wrap">
	  <div class="row">
        <div class="col-md-6 col-md-offset-3">
         <h1 class="champ" th:utext="@{'Informations : ' + ${location.titre}}"></h1>
        <div class="resizepicture"><img style="border : solid 1px;" th:src="@{'photos/' + ${location.LocationID} + '/' + ${location.photos}}" class="img-fluid" alt="Maison"></div>
        <div class="rounded proprietes champ">
        <ul>
          <li th:utext="'Ville : ' + ${location.ville}"></li>
          <li th:utext="'Loyer : ' + ${location.loyer}"></li>
          <li th:utext="'Superficie : ' +${location.superfice + 'm²'}"></li>
          <li th:if="'Meublé ? ' + ${location.meuble}">Meublée : oui</li>
          <li th:if="' Meublé ? ' + ${!location.meuble}">Meublée : non</li>
          </ul>
       
        <p class="research-result" th:utext="${description}"></p>
   </div>
          </div>
          </div>
          
   <!--        <div class="border col-md-6" style="margin-left : 275px">
        <h3>Demander des informations au propriétaire</h3>

        
          <form>
            <label for="exampleInputEmail1" class="form-check-label" id="email">Votre adresse e-mail</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          
          <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
          <label class="form-check-label" for="flexCheckChecked">
            Utiliser l'adresse e-mail de mon profil
          </label>
          <br><br>
          <div class="mb-3">
            <label for="floatingTextarea2">Votre message</label>
            <textarea class="form-control" id="floatingTextarea2" style="height: 100px"></textarea>
          </div>
         
          </form>
           <input type="submit" href="#" class="button buttonStyle" style="width:175px" name="Contacter"></button>
        </div> -->
                
</div>


  <footer class="footerAcc">
<p class="text-center">Site dévellopé par Mélissa Maerten, Rémy Deprez et Nicolas Beauvois, sur une idée originale de Yahya Abdellaoui</p>

</footer>

</body>
</html>