
<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Gérer ses colocations</title>
<meta charset="ISO-8859-1">
     <link href="${mainCss}" rel="stylesheet" />
      <link href="${gestCss}" rel="stylesheet" />
      
      
<link href="http://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">


<script src="http://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<header>
<div style= "text-align:center">
<nav >
        <ul>
            <li><a href="fiche">Chercher une colocation</a></li>
            <li><a href="gestionColoc">Gérer ses colocations</a></li>
            <li><a href="#">Se connecter</a></li>
            <li><a href="inscription">S'inscrire</a></li>
        </ul>
    </nav>
    </div>
</header>

<body>

<h1>Gérer mes colocations</h1>

<div class="tabColoc">
	

<h3 style="text-align: center">Colocation n°1 </h3>
<img class="image" src="https://pbs.twimg.com/media/EGHYvttU4AAYKb7?format=jpg&name=large" " alt="...">

<div class="infos">
<p style="margin-left: 25%"><b>Adresse :</b> 3 rue du Monopoly. 
<b>Occupants actuels: </b> 3.
<b>Intervention en cours :</b> non.</p>
</div>
<button class="button buttonStyle" href="#">Editer</button>
<button class="button buttonStyle" href="#">Contact</button>


	</div>
	



	


<div class="tabColoc">
	

<h3 style="text-align: center">Colocation n°1 </h3>
<img class="image" src="https://pbs.twimg.com/media/EGHYvttU4AAYKb7?format=jpg&name=large" " alt="...">

<div class="infos">
<p style="margin-left: 25%"><b>Adresse :</b> 3 rue du Monopoly. 
<b>Occupants actuels: </b> 3.
<b>Intervention en cours :</b> non.</p>
</div>
<button class="button buttonStyle" href="#">Editer</button>
<button class="button buttonStyle" href="#">Contact</button>


	</div>
	

<div class="tabColoc">
	

<h3 style="text-align: center">Colocation n°1 </h3>
<img class="image" src="https://pbs.twimg.com/media/EGHYvttU4AAYKb7?format=jpg&name=large" " alt="...">

<div class="infos">
<p style="margin-left: 25%"><b>Adresse :</b> 3 rue du Monopoly. 
<b>Occupants actuels: </b> 3.
<b>Intervention en cours :</b> non.</p>
</div>
<button class="button buttonStyle" href="#">Editer</button>
<button class="button buttonStyle" href="#">Contact</button>


	</div>
	

<div class="tabColoc">
	

<h3 style="text-align: center">Colocation n°1 </h3>
<img class="image" src="https://pbs.twimg.com/media/EGHYvttU4AAYKb7?format=jpg&name=large" " alt="...">

<div class="infos">
<p style="margin-left: 25%"><b>Adresse :</b> 3 rue du Monopoly. 
<b>Occupants actuels: </b> 3.
<b>Intervention en cours :</b> non.</p>
</div>
<button class="button buttonStyle" href="#">Editer</button>
<button class="button buttonStyle" href="#">Contact</button>


	</div>
	

</body>

<p class="text-center">Site dévellopé par Mélissa Maerten, Rémy Deprez et Nicolas Beauvois, sur une idée originale de Yahya Abdellaoui</p>
</html>