<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Test de Localisation de l'utilisateur</title>
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<link rel="stylesheet" type="text/css" href="/css/map.css" />
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">


</head>
<body>

	<header th:insert="fragment/header.html :: header"> </header>
	<div class = "container">
		<div class = "card-block" id=""></div>
	
	
	
	</div>
	<div id="map"></div>

	<!-- Async script executes immediately and must be after any DOM elements used in callback. -->
	<script th:inline="javascript"
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAFj401UN0kIVPN9GCOWLO9eyxJDAyURaQ&callback=initMap&libraries=&v=weekly"
		async>
		
	</script>
	<script src="/js/map.js"></script>


	
<script th:inline="javascript">
    
	const mylist =[[${listloc}]] ;



//call geocode
/* geocode(); */


function geocode(adress){
	
	//axios est un outil qui permet de générer des requêtes
	axios.get('https://maps.googleapis.com/maps/api/geocode/json',{
			params:{
				address:adress,
				key:'AIzaSyCyB4pWoSfFzEBOWfkEAGUCvENsg6pLd44'
			}
	})
	.then(function(response){
	   
		const pos = {
	            lat: response.data.results[0].geometry.location.lat,
	            lng: response.data.results[0].geometry.location.lng
	          };
		marker = new google.maps.Marker({
		    position: pos ,
		    map,
		    title: "locations",
		    
		  }); 
		
	})
	.catch(function(error){
		console.log(error);
	});
	
}
mylist.forEach(location => {
	geocode(location.adress);
	
})
	

</script>
</body>

</html>