
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Messagerie</title>
<head>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="shortcut icon" href="" type="image/vnd.microsoft.icon" />
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
      <!-- https://cdnjs.com/libraries/stomp.js/ -->
      <script  src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
      
    <link href="/css/styleAccueil.css"  rel="stylesheet" type="text/css"/>
    <link href="/css/styleMessagerie.css"  rel="stylesheet" type="text/css"/>

</head>
 






</head>
   <header th:insert="fragment/header.html :: header"> </header>

<body>

<div class="container" style="background-color: #f2f5f3">
<h3 class="h3 text-center">Messagerie</h3>
<div class="messaging">
      <div class="inbox_msg">
        
        <div class="mesgs" >
          <div class="msg_history">
            <div class="incoming_msg">
                <span id="username" th:utext="${username}"></span>
              <div class="received_msg">
                <div class="received_withd_msg">
               <ul id="messageArea"></ul>
                  </div>
              </div>
            </div>
         
            </div>
          </div>
          <h3 class="h3 text-center">Envoyer un message privé</h3>
          <div class="listUsers">
          
          <ul th:each="users:${listUser}" style="list-style : none;">
        
         <li> 
           <a th:href="@{'getMP/' + ${users.userId}}">
         <input type="submit" th:href="${users.userId}" th:value="${users.userName}" class="signup-btn"/>
        </a>
         </li>
         
          </ul>
          </div>
          
                   <form id="messageForm" name="messageForm">
          <div class="type_msg">
            <div class="input_msg_write">
              <input type="text" class="write_msg"  style="width : 95%" placeholder="Entrez votre message" id="message"/>
              <button class="msg_send_btn boutonEnvoi" type="submit"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
            </div>
            
          </div>
              
          </form>
        </div>
      </div>
      </div>
    

    
  <footer class="footerAcc">
<p class="text-center">Site dévellopé par Mélissa Maerten, Rémy Deprez et Nicolas Beauvois, sur une idée originale de Yahya Abdellaoui</p>

</footer>

 <script>'use strict';
 
 
 var messageForm = document.querySelector('#messageForm');
 var messageInput = document.querySelector('#message');
 var messageArea = document.querySelector('#messageArea');
 var connectingElement = document.querySelector('#connecting');
  
 var stompClient = null;
 var username =  null;
   
  
 function connect() {

	 username = document.querySelector('#username').innerText.trim();
     var socket = new SockJS('/ws');
     stompClient = Stomp.over(socket);
  
     stompClient.connect({}, onConnected, onError);
 }
  
 // Connect to WebSocket Server.
 connect();
  
 function onConnected() {
     // Subscribe to the Public Topic
     stompClient.subscribe('/topic/publicChatRoom', onMessageReceived);
  
     // Tell your username to the server
     stompClient.send("/app/chat.addUser",
         {},
         JSON.stringify({sender: username, type: 'JOIN'})
     )
  
     connectingElement.classList.add('hidden');
 }
  
  
 function onError(error) {
     connectingElement.textContent = 'Could not connect to WebSocket server. Please refresh this page to try again!';
     connectingElement.style.color = 'red';
 }
  
  
 function sendMessage(event) {
     var messageContent = messageInput.value.trim();
     if(messageContent && stompClient) {
         var chatMessage = {
             sender: username,
             content: messageInput.value,
             type: 'CHAT'
         };
         stompClient.send("/app/chat.sendMessage", {}, JSON.stringify(chatMessage));
         messageInput.value = '';
     }
     event.preventDefault();
 }
  
  
 function onMessageReceived(payload) {
     var message = JSON.parse(payload.body);
  
     var messageElement = document.createElement('li');
  
     if(message.type === 'JOIN') {
         messageElement.classList.add('event-message');
         message.content = message.sender + ' joined!';
     } else if (message.type === 'LEAVE') {
         messageElement.classList.add('event-message');
         message.content = message.sender + ' left!';
     } else {
         messageElement.classList.add('chat-message');   
         var usernameElement = document.createElement('strong');
         usernameElement.classList.add('nickname');
         var usernameText = document.createTextNode(message.sender);
         var usernameText = document.createTextNode(message.sender);
         usernameElement.appendChild(usernameText);
         messageElement.appendChild(usernameElement);
     }
  
     var textElement = document.createElement('span');
     var messageText = document.createTextNode(message.content);
     textElement.appendChild(messageText);
  
     messageElement.appendChild(textElement);
  
     messageArea.appendChild(messageElement);
     messageArea.scrollTop = messageArea.scrollHeight;
 }
   
   
 messageForm.addEventListener('submit', sendMessage, true);</script>
    </body>
    </html>