
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>


<meta charset="UTF-8">

<title>Paramétrage du compte</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">

<link
	href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css">
<script
	src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script
	src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<link href="/css/styleAccueil.css" rel="stylesheet" type="text/css" />
<link href="/css/styleInscription.css" rel="stylesheet" type="text/css" />

<style>
</style>
</head>

<body>

	<header th:insert="fragment/header.html :: header"> </header>


	<div class="container" id="wrap">
		<div class="row">
			<div style="margin-left: 25%" class="col-md-6 col-md-offset-3">
				<form th:action="updateaccount" method="post" th:object="${appuser}"
					class="form" role="form">
					<h4 class="champ">Modifiez votre compte</h4>
					<div class="row">
						<div class="col-xs-6 col-md-6">
							<input type="text" name="firstname"
								value="${appuser.attributeprenom}" th:field="*{attributeprenom}"
								class="form-control input-lg" placeholder="Prénom" />
						</div>
						<div class="col-xs-6 col-md-6">
							<input type="text" name="lastname" value="${appuser.nom}"
								th:field="*{nom}" class="form-control input-lg"
								placeholder="Nom de famille" />
						</div>
					</div>
					<input type="text" name="userId" value="${appuser.userId}"
						class="form-control input-lg" th:field="*{userId}" /> <input
						type="text" name="login" value="${appuser.userName}"
						class="form-control input-lg" th:field="*{userName}" /> <input
						type="text" name="mail" value="${appuser.mail}"
						class="form-control input-lg" placeholder="Votre Email"
						th:field="*{mail}" /> <input type="password" name="password"
						class="form-control input-lg" placeholder="Nouveau Mot de passe"
						th:field="*{encrytedPassword}" /> <input type="password"
						name="confirm_password" class="form-control input-lg"
						placeholder="Confirmer le Nouveau mot de passe" /> <input
						type="date" class="form-control input-lg" th:field="*{date}">
					<input type="text" class="form-control input-lg"
						th:field="*{telephone}" value="${appuser.telephone}"
						placeholder="Numéro de Te">

					<div class="champ">
						<label>Je suis : </label>
						<div
							th:each="status : ${T(fr.formation.afpa.domain.Status).values()}">
							<div class=" radio-inline">
								<input type="radio" th:field="*{status}" th:value="${status}"
									class="control-input"> <label
									th:for="${#ids.prev('status')}" th:text="${status}">Status</label>
							</div>
						</div>


						<br />
					</div>
					<span style="box-shadow: none;" class="help-block champ">By
						clicking Modify my account, you agree to our Terms and that you
						have read our Data Use Policy, including our Cookie Use.</span>
					<button class="btn btn-lg btn-primary btn-block signup-btn"
						type="submit">Modifier le compte</button>

				</form>
				<form th:action="deleteaccount" method="post" th:object="${appuser}"
					class="form" role="form">

					<input type="text" name="firstname"
						value="${appuser.attributeprenom}" th:field="*{attributeprenom}"
						class="form-control input-lg" placeholder="Prénom" hidden="true" />


					<input type="text" name="lastname" value="${appuser.nom}"
						th:field="*{nom}" class="form-control input-lg"
						placeholder="Nom de famille" hidden="true" /> <input type="text"
						name="userId" value="${appuser.userId}"
						class="form-control input-lg" th:field="*{userId}" hidden="true" />
					<input type="text" name="login" value="${appuser.userName}"
						class="form-control input-lg" th:field="*{userName}" hidden="true" />
					<input type="text" name="mail" value="${appuser.mail}"
						class="form-control input-lg" placeholder="Votre Email"
						th:field="*{mail}" hidden="true" /> <input type="password"
						name="password" class="form-control input-lg"
						placeholder="Nouveau Mot de passe" th:field="*{encrytedPassword}"
						hidden="true" /> <input type="password" name="confirm_password"
						class="form-control input-lg"
						placeholder="Confirmer le Nouveau mot de passe" hidden="true" />
					<input type="date" class="form-control input-lg" th:field="*{date}"
						hidden="true" /> <input type="text" class="form-control input-lg"
						th:field="*{telephone}" value="${appuser.telephone}"
						placeholder="Numéro de Te" hidden="true"> <input
						type="radio" th:field="*{status}" th:value="${status}"
						class="control-input" hidden="true">
						
						
					
						<div th:each="status : ${T(fr.formation.afpa.domain.Status).values()}">
								<input type="radio" th:field="*{status}" th:value="${status}"
									class="control-input" hidden="true"> 
							
						</div>

					<button style="margin-top: 2%;" th:action="deleteaccount"
						class="btn btn-lg btn-danger btn-block" type="submit"
						onclick="return confirm('Are you sure you want to delete this item?');">Supprimer
						le compte</button>
				</form>
			</div>
		</div>
	</div>


	<footer class="footerAcc">
		<p class="text-center">Site dévellopé par Mélissa Maerten, Rémy
			Deprez et Nicolas Beauvois, sur une idée originale de Yahya
			Abdellaoui</p>

	</footer>
</body>
</html>