
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<meta charset="UTF-8">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

   <link href="/css/styleAccueil.css"  rel="stylesheet" type="text/css"/>
    <link href="/css/styleAjout.css"  rel="stylesheet" type="text/css"/>



<title>Modifier un  bien</title>
</head>
<body>
   
<header th:insert="fragment/header.html :: header"> </header>




<body style="text-align : center">


 <div class="container" id="wrap">
	  <div class="row">
        <div class="col-md-6 col-md-offset-3" style="margin-left: 25%">
            <form th:action="@{'/modifbien/'} + ${location.locationID}" th:object="${location}" class="form" role="form"> 
                    <h2 class="champ">Modifier une colocation</h2>
                    
                        
                            <input type="text" name="titre" th:value="${location.titre}" class="form-control input-lg" placeholder="Intitulé"  />                        
    
                            <input type="text" name="adress" th:value="${location.adress}" class="form-control input-lg" placeholder="Adresse"  />                        
                        
                    <div class="row">
                        <div class="col-xs-6 col-md-6">
                            <input type="number" name="codePostal" th:value="${location.codePostal}" class="form-control input-lg" placeholder="Code postal"  />                        
                            </div>
                        <div class="col-xs-6 col-md-6">
                            <input type="text" name="ville" th:value="${location.ville}" class="form-control input-lg" placeholder="Ville"  />                        
                            </div>
                    </div>
                   <div class="row">
                        <div class="col-xs-6 col-md-6">
                            <input type="number" name="superfice" th:value="${location.superfice}" class="form-control input-lg" placeholder="Superficie"  />                        
                            </div>
                        <div class="col-xs-6 col-md-6">
                            <input type="number" name="placeOccupe" th:value="${location.placeOccupe}" class="form-control input-lg" placeholder="Occupants max"  />                        
                            </div>
                    </div>               
                    <input type="number" name="loyer" th:value="${location.loyer}" class="form-control input-lg" placeholder="Loyer"  /> 
                
                     
                    <div class="champ"  >
                     <label >Meublé ? : </label>                    <label class=" radio-inline">
                        <input type="radio"  th:checked="${location.meuble}" name="meuble" value="1" id=equipped />                       Oui
                    </label>
                    <label class="radio-inline ">
                        <input type="radio"  th:checked="${location.meuble}"   name="meuble" value="0" id=notEquipedd />                      Non
                    </label>
                    <br />
                    </div>
                    
                    <div class="champ">
                    <label>Décrivez votre bien de manière succinte</label>
                    <textarea name="description" th:text="${location.description}"  class="form-control input-lg"  > </textarea>
                    </div>
                    
                  
                    <div class="champ">
                    <label>Ajoutez des photos de votre bien</label>
                   <input type="file" name="photos" th:value="${location.photos}" class="form-control input-lg" /> 
            	</div>
            
                    <button class="btn btn-lg btn-primary btn-block signup-btn" type="submit">
                        Modifier le bien</button>
            </form>          
          </div>
</div>            
</div>


  <footer class="footerAcc">
<p class="text-center">Site dévellopé par Mélissa Maerten, Rémy Deprez et Nicolas Beauvois, sur une idée originale de Yahya Abdellaoui</p>

</footer>

</body>
</html>