
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>


<meta charset="UTF-8">

<title>Paramétrage du compte</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">

<link
	href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css">
<script
	src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script
	src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<link href="/css/styleAccueil.css" rel="stylesheet" type="text/css" />
<link href="/css/styleInscription.css" rel="stylesheet" type="text/css" />

<style>
</style>
</head>

<body>

	<header th:insert="fragment/header.html :: header"> </header>


	<div class="container" id="wrap">
		<div class="row">
			<div style="margin-left: 25%" class="col-md-6 col-md-offset-3">
				<form th:action="updateaccount" method="post"
					th:object="${utilisateur}" class="form" role="form">
					<h4 class="champ">Modifiez votre compte</h4>
					<div class="row">
						<div class="col-xs-6 col-md-6">
							<input type="text" name="firstname" value=""
								th:field="*{attributeprenom}" class="form-control input-lg"
								placeholder="Prénom" />
						</div>
						<div class="col-xs-6 col-md-6">
							<input type="text" name="lastname" value="" th:field="*{nom}"
								class="form-control input-lg" placeholder="Nom de famille" />
						</div>
					</div>
					<input type="text" name="login" value=""
						class="form-control input-lg" placeholder="Votre Login"
						th:field="*{login}" /> <input type="text" name="mail" value=""
						class="form-control input-lg" placeholder="Votre Email"
						th:field="*{mail}" /> <input type="password" name="password"
						value="" class="form-control input-lg" placeholder="Mot de passe"
						th:field="*{motDePasse}" /> <input type="password"
						name="confirm_password" value="" class="form-control input-lg"
						placeholder="Confirmer le mot de passe" /> <input type="date"
						class="form-control input-lg" th:field="*{date}"> <input
						type="text" class="form-control input-lg" th:field="*{telephone}"
						placeholder="Numéro de Te">

					<div class="champ">
						<label>Je suis : </label>
						<div th:each="status : ${T(fr.formation.afpa.domain.Status).values()}">
							<div class=" radio-inline">
								<input type="radio" th:field="*{status}" th:value="${status}"
									class="control-input"> 
								<label
									 th:for="${#ids.prev('status')}"
									th:text="${status}">Status</label>
							</div>
						</div>


						 <br />
					</div>
					<span style="box-shadow: none;" class="help-block champ">By
						clicking Modify my account, you agree to our Terms and that you
						have read our Data Use Policy, including our Cookie Use.</span>
					<button class="btn btn-lg btn-primary btn-block signup-btn"
						type="submit">Modifier le compte</button>
						
				</form>
				<button style="margin-top:2%;" th:action="deleteaccount"class="btn btn-lg btn-danger btn-block"
						type="submit" onclick="return confirm('Are you sure you want to delete this item?');">Supprimer le compte</button>
			</div>
		</div>
	</div>


	<footer class="footerAcc" style="position: fixed; bottom: 0">
		<p class="text-center">Site dévellopé par Mélissa Maerten, Rémy
			Deprez et Nicolas Beauvois, sur une idée originale de Yahya
			Abdellaoui</p>

	</footer>
</body>
</html>