
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<title>Gérer ses colocations</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <link href="/css/styleAccueil.css"  rel="stylesheet" type="text/css"/> 
    <link href="/css/styleGestion.css"  rel="stylesheet" type="text/css"/>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script>
$(document).ready(function() {
    $('#list').click(function(event){event.preventDefault();$('#products .item').addClass('list-group-item');});
    $('#grid').click(function(event){event.preventDefault();$('#products .item').removeClass('list-group-item');$('#products .item').addClass('grid-group-item');});
});</script>
<!------ Include the above in your HEAD tag ---------->
</head>


   <header th:insert="fragment/header.html :: header"> </header>


<body>

<div class="h1">
 <h1 >Réservations reçues</h1>
 </div>

<div class="container">
    <div class="row"> 
  <table class="table table-light table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Location</th>
      <th scope="col">Utilisateur</th>
      <th scope="col">Statut</th>
      <th scope="col">Editer</th>
    </tr>
  </thead>
  <tbody>
  <th:block th:each="reservation : ${reservations}">
    <tr>
      <td scope="row" th:utext="${reservation.reservationID}"></th>
      <td><a th:href="${'fiche?locationID=' + reservation.location.locationID}" th:utext="${reservation.location.titre}"></a></td>
      <td th:utext="${reservation.colocataire.userName}"></td>
      <td th:if="${reservation.statut == '0'}">En cours</td>
      <td th:if="${reservation.statut == '1'}">Validée</td>
      <td><a th:href="'modifierreservation?reservationID=' + ${reservation.reservationID}">Editer</a></td>
    </tr>
    </th:block>
    
  </tbody>
</table>
   
                
               
            
</div>
  <footer class="footerAcc">
<p class="text-center">Site dévellopé par Mélissa Maerten, Rémy Deprez et Nicolas Beauvois, sur une idée originale de Yahya Abdellaoui</p>

</footer>
</body>

</html>