
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Gérer ses colocations</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <link href="/css/styleAccueil.css"  rel="stylesheet" type="text/css"/> 
    <link href="/css/styleGestion.css"  rel="stylesheet" type="text/css"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="shortcut icon" href="" type="image/vnd.microsoft.icon" />
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script>
$(document).ready(function() {
    $('#list').click(function(event){event.preventDefault();$('#products .item').addClass('list-group-item');});
    $('#grid').click(function(event){event.preventDefault();$('#products .item').removeClass('list-group-item');$('#products .item').addClass('grid-group-item');});
});</script>
<!------ Include the above in your HEAD tag ---------->
</head>


   <header th:insert="fragment/header.html :: header"> </header>


<body>

<div class="h1">
 <h1 >Gestion de vos réservations</h1>
 </div>

<div class="container">
    <div class="row"> 
  <table class="table table-light table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Location</th>
      <th scope="col">Utilisateur</th>
      <th scope="col">Statut</th>
      <th scope="col">Supprimer</th>
    </tr>
  </thead>
  <tbody>
  <th:block th:each="reservation : ${reservations}">
    <tr>
      <td scope="row" th:utext="${reservation.reservationID}"></th>
      <td><a th:href="${'fiche?locationID=' + reservation.location.locationID}" th:utext="${reservation.location.titre}"></a></td>
      <td th:utext="${reservation.colocataire.userName}"></td>
      <td th:if="${reservation.statut == '0'}">En cours</td>
      <td th:if="${reservation.statut == '1'}">Validée</td>
  <td><button th:if="${reservation.statut == '0'}" class="btn btn-danger" th:attr="onclick=|deleteReservationColocataire('${reservation.reservationID}')|">Supprimer</button></td>    
    </tr>
    </th:block>
    
  </tbody>
</table>
   
                
               
            
</div>
  <footer class="footerAcc">
<p class="text-center">Site dévellopé par Mélissa Maerten, Rémy Deprez et Nicolas Beauvois, sur une idée originale de Yahya Abdellaoui</p>

</footer>
</body>
<script>
function deleteReservationColocataire(colocID) {
var deleteReservation = confirm("Voulez-vous vraiment supprimer cette réservation ? " + colocID);
if (deleteReservation) {
	confirm("La réservation a été supprimée.");
	window.location.href= 'supprimerReservation?reservationID=' + colocID;
}
}
</script>
</html>